<div class="wrapper">
   <h2>PigHack</h2>
   <div class="hr"></div>
   <%= image_tag 'nav-bs-logo.png', alt: 'blade_and_soul_logo', title: 'Blade and soul' %>
   <%= image_tag 'holder/vs.png', height: 60 %>
   <%= image_tag 'holder/pig.png', alt: 'logo', title: 'Pig logo' %>
   <div class="hr"></div>
   <h1>Coming Soon.</h1>
   <p>Unfortunately, we’re not quite ready yet. <strong> But, you can see our progress below:</strong></p>
   <section class="progress">
      <div class="progress-bar-container" id="tipsy" title="20% Complete">
         <article class="progress-bar" style="width:20%"></article>
      </div>
      <article class="txt-launch-day-hat"></article>
   </section>
</div>
<script type='text/javascript'>
$(function() {
  $('#tipsy').tipsy({fade: true, gravity: 's'});
});
</script>