<div class="container p-t-md">
  <div class="row">
    <div class="col-md-12">
      <h1>Download Launcher</h1>

      <%= link_to 'Download', '/launcher.zip', class: 'btn btn-lg btn-primary-outline' %>
   </div>
</div>
