<div id="nc-bs-download">
   <div>
      <div class="download-container">
         <div class="info-container">
            <div class="download-fade"></div>
            <div class="row downloads">
               <h1>Download Blade &amp; Soul</h1>
               <p>Download the executable NC Launcher game installer, which will guide you through the process to install Blade &amp; Soul on your computer.</p>
               <div class="show-for-large-up">
                  <div class="button-container"><button class="download-button banner-button big ornamented"><span class="button-text">Download</span></button></div>
               </div>
               <div class="hide-for-large-up">
                  <div class="mobile-message">
                     <div><i class="fa fa-exclamation-circle fa-2x"></i></div>
                     <div>Please visit this page on your PC to download the game installer.</div>
                  </div>
               </div>
               <div class="contact-support">
                  <p>Questions or problems with our download packages? Please <a target="_blank" href="https://support.bladeandsoul.com/hc/en/requests/new">submit a ticket</a> under "Technical Support"</p>
                  <p><i class="fa fa-info-circle"></i><span> </span><span>If you had participated in the Closed Beta, that client will not function. You will need to download and install the game again.</span></p>
               </div>
            </div>
         </div>
         <div class="system-container">
            <div class="row requirements">
               <div class="req-container">
                  <div class="show-for-large-up">
                     <div>
                        <div>
                           <h5>System Requirements</h5>
                           <div class="fadeLine"></div>
                        </div>
                        <table class="table system-requirements-table">
                           <thead>
                              <tr>
                                 <th colspan="1"></th>
                                 <th colspan="1">Minimum</th>
                                 <th colspan="1">Recommended</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td class="req">CPU</td>
                                 <td>Intel Dual Core / AMD Athlon 64X2</td>
                                 <td>Intel Quad Core / AMD Phenom II X4</td>
                              </tr>
                              <tr>
                                 <td class="req">RAM</td>
                                 <td>XP : 2GB / Vista, Win7 : 3GB</td>
                                 <td>4GB or above</td>
                              </tr>
                              <tr>
                                 <td class="req">Graphics Card</td>
                                 <td>nVidia Geforce 8600GT / AMD Radeon HD4600</td>
                                 <td>nVidia Geforce 8800GT / AMD Radeon HD4850</td>
                              </tr>
                              <tr>
                                 <td class="req">Hard Disk</td>
                                 <td>22GB</td>
                                 <td>22GB or above</td>
                              </tr>
                              <tr>
                                 <td class="req">OS</td>
                                 <td>Windows XP (SP3) 32bit</td>
                                 <td>Win7 (64bit)</td>
                              </tr>
                              <tr>
                                 <td class="req">DirectX</td>
                                 <td>9.0c</td>
                                 <td>9.0c</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="req-container">
                  <h5>Blade &amp; Soul Requirements</h5>
                  <div class="fadeLine"></div>
                  <ul class="list bs-requirements-list">
                     <li>An NC Account is necessary to play Blade &amp; Soul. Please go <a target="_blank" href="https://account.ncsoft.com/signup/index?serviceCode=54&amp;returnUrl=https%3A%2F%2Faccount.ncsoft.com%2Fsettings%2Findex">here</a> to create your account.</li>
                     <li>Players from the countries of Armenia, Azerbaijan, Belarus, Georgia, Kazakhstan, Kyrgyzstan, Moldova, Russia, Turkmenistan, Tajikistan, Ukraine, and Uzbekistan will not be able to access the game due to regional restrictions.</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
