<div class="container p-t-md">
  <div class="row">
    <div class="col-md-12">
      <h1>FAQs</h1>
      <h4>What is required to run the launcher?</h4>
      <div>
        <b>You need both x86 AND x64 even if you are only on 64bit windows</b>
      </div>
      <div>
        <a href="https://www.microsoft.com/en-gb/download/details.aspx?id=5555" target="_blank">Microsoft Visual C++ 2010 Redistributable Package (x86)</a>
      </div>
      <div>
        <a href="https://www.microsoft.com/en-gb/download/details.aspx?id=30653" target="_blank">Microsoft .NET Framework 4.5+</a>
      </div>
      <div>
        <a href="https://www.microsoft.com/en-gb/download/details.aspx?id=48145" target="_blank">Visual C++ Redistributable for Visual Studio 2015</a>
      </div>
      <h4>Virus!</h4>
      <div>
        <p>The launcher shows as a false positive to anti viruses <a href="https://www.virustotal.com/en/file/1676588582fea2789bbfb0b71e2bc38539e1657e27c82a5dc416d567c0cc0097/analysis/1455228526/">link</a></p>
      </div>
      <h4>Failed to load module into remote process. Error code: 0</h4>
      <div>
        <p>Ensure all you have the latest .net framework and C++ pack links at top of FAQ</p>
        <p>Run the launcher as admin</p>
      </div>
      <h4>How long does it take to approve account after payment?</h4>
      <div>
        <p>Paypal take 10-15 minutes, so please be patient after you are approved you can access the launcher <a href="http://pighack.com/download">here</a></p>
      </div>
      <h4>When will you launch?</h4>
      <div>
        <p>We are live now, Blade and Soul is ready to purchase on the homepage. All hacks are for life including new games.</p>
      </div>
      <h4>Is this detected</h4>
      <div>
        <p>As with any hack, you can get banned if someone records you so there is always some kind of risk.</p>
        <p>But so far none of our members have been banned! The hack is undetected to GameGuard and NCSoft</p>
      </div>
    </div>
  </div>
</div>
