<div class="container p-t-md">
  <div class="row">
    <div class="col-md-12">
      <h1>FAQs</h1>
      <h4>What is required to run the launcher?</h4>
      <div>
        <a href="https://www.microsoft.com/en-gb/download/details.aspx?id=5555" target="_blank">Microsoft Visual C++ 2010 Redistributable Package (x86)</a>
      </div>
      <div>
        <a href="https://www.microsoft.com/en-gb/download/details.aspx?id=30653" target="_blank">Microsoft .NET Framework 4.5+</a>
      </div>
      <h4>When will you launch?</h4>
      <div>
        <p>Very soon</p>
      </div>
    </div>
  </div>
</div>
