<body class="ang">
  

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"ff493e05dd02f6b54165a855e","lid":"724fedd5ca"}) })</script>

<div class="anq" id="app-growl"></div>

<nav class="ck pc os app-navbar">
  <div class="by">
    <div class="or">
      <button type="button" class="ou collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="cv">Toggle navigation</span>
        <span class="ov"></span>
        <span class="ov"></span>
        <span class="ov"></span>
      </button>
      <a class="e" href="/">  
      	<%= image_tag("logo.png", alt: 'brand') %>
      </a>
    </div>
    <div class="f collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav ss">
          <li class="active">
            <a href="/">Home</a>
          </li>
        </ul>

        <form class="ow og i" role="search">
          <div class="et">
            <input type="text" class="form-control" data-action="grow" placeholder="Search">
          </div>
        </form>
      </div>
  </div>
</nav>


<div class="by amt">
  <div class="gc">
    <div class="gn">
      <div class="qv rc aog alu">
        <div class="qx" style="height: 165px;">
          <%= image_tag("holder/pig.png", class: 'hoz') %>
        </div>
        <div class="qw dj">
          <p class="alu">Get stronger.</p>

          <ul class="aoi">
            <li class="aoj">
              <a href="#userModal" class="aku" data-toggle="modal">
                Hacks
                <h5 class="ali">2</h5>
              </a>
            </li>
          </ul>
        </div>
      </div>

       <div class="qv rc sm sp">
        <div class="qw">
          <h5 class="ald">Games</h5>
            <%= image_tag("games/blade-and-soul-black.png", alt: 'blade-and-soul', style: 'height: auto;width:100%;') %>
            <hr/>
            <%= image_tag("games/star-wars-the-old-republic.png", alt: 'star-wars-the-old-republic', style: 'height: auto;width:100%;') %>
        </div>
      </div>
    </div>

    <div class="hj">
      <div class="alert pt alert-dismissible ss" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <a class="pr" href="#">Announcement!</a> We are in the process of launching, hang tight!
      </div>
    </div>

    <div class="gz">
      <ul class="ca qo anx">
        <li class="qf b aml">
          <div class="qg">
          	<div class="qn">
              <small class="eg dp">5/02/2016</small>
              <h5>Blade and Soul</h5>
            </div>
            <p>
              Flyhack, Speedhack
            </p>
          </div>
        </li>
        <li class="qf b aml">
          <div class="qg">
          	<div class="qn">
              <small class="eg dp">5/02/2016</small>
              <h5>Star Wars The Old Republic</h5>
            </div>
            <p>
              Flyhack, Speedhack, Anti-Slow, Anti-Walls (Walk through walls)
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="gn">
      <div class="qv rc alu ss">
        <div class="qw">
          <h5 class="ald">Videos</h5>

          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/i-YX6oU2afA' frameborder='0' allowfullscreen></iframe></div>
          <hr/>
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/p10vNex_RKI' frameborder='0' allowfullscreen></iframe></div>
          <hr/>
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/PNtqX7T7E6g' frameborder='0' allowfullscreen></iframe></div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>