<style>
img{
  display: block;
  margin-left: auto;
  margin-right: auto
}
</style>

<script>
$(document).ready(function() {
  $(".game-launch").click(function() {
    var process_name = $(this).data("process");
    var friendly_name = $(this).data("name");
    var dll_path = $(this).data("dll");
    window.external.Run(process_name, friendly_name, dll_path);
  });
});
</script>

<% if user_signed_in? %>
<% if current_user.approved? %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <hr/>
    <%= link_to (image_tag 'games/blade-and-soul-black.png', width: 250), '#', data: { name: 'Blade & Soul',
                                                                                     process: 'Client',
                                                                                     dll: '/PigDll.dll' }, class: 'game-launch' %>
    <hr/>
    <%= link_to (image_tag 'games/star-wars-the-old-republic.png', width: 250), '#', data: { name: 'Star Wars: The Old Republic',
                                                                                           process: 'swtor',
                                                                                           dll: '/PigDll.dll' }, class: 'game-launch' %>
    <hr/>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Payment is Pending / Awaiting Approval may take 5-10 minutes after payment</h2>
      </div>
    </div>
  </div>
<% end %>
</div>
<% else %>
  <%= render "devise/sessions/login" %>
<% end %>
