<%= @user.email %><br>
<br>
Your account has now been approved and you are able to download the launcher from <a href="http://pighack.com/download">http://pighack.com/download</a><br>
<br>
If you experience ANY problems you can use the contact form on the site here <a href="http://pighack.com/contact">http://pighack.com/contact</a><br>
<br>
Please ensure you have read the FAQ and have installed all the required libraries.<br>
<br><br>
<a href="https://www.microsoft.com/en-gb/download/details.aspx?id=5555">https://www.microsoft.com/en-gb/download/details.aspx?id=5555</a><br>
<a href="https://www.microsoft.com/en-gb/download/details.aspx?id=30653">https://www.microsoft.com/en-gb/download/details.aspx?id=30653</a><br>
<a href="https://www.microsoft.com/en-gb/download/details.aspx?id=48145">https://www.microsoft.com/en-gb/download/details.aspx?id=48145</a><br>
