<div id="footer-subscribe">
   <div class="row">
      <div class="columns">
         <div class="copy">
            <a href="javascript:void(0)" data-reveal-id="newsletter-subscribe-form" class="subscribe signup-newsletter">
            <span class="large">Sign Up for Newsletter</span>
            <span class="small">Subscribe now for up-to-the-minute news about Blade &amp; Soul</span>
            </a>
         </div>
         <!--  .copy -->
      </div>
   </div>
   <!--  .row -->
</div>
<div id="footer">
   <div class="top">
      <div class="row footer-links">
         <div class="small-12 columns footer-link-column-left sns-only-footer-links">
            <div class="small-12 small-centered columns column-sns">
               <h4>Follow Us</h4>
               <ul class="footer-list">
                  <li><a href="https://www.facebook.com/BladeAndSoul" target="_blank"><i class="fa fa-facebook sns-footer"></i> Facebook</a></li>
                  <li><a href="https://www.twitter.com/bladeandsoul" target="_blank"><i class="fa fa-twitter sns-footer"></i> Twitter</a></li>
                  <li><a href="https://www.youtube.com/bladeandsoul" target="_blank"><i class="fa fa-youtube-play"></i> YouTube</a></li>
                  <li><a href="http://www.twitch.tv/bladeandsoul" target="_blank"><i class="fa fa-twitch sns-footer"></i> Twitch</a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- .row -->
      <div class="row logo">
         <div class="columns bns-logo">
            <a href="/en/"><%= image_tag 'footer-bns-logo.png'%></a>
         </div>
      </div>
      <div class="row legal">
         <div class="columns desktop copyright">
            <div class="copy">
               <p>©2013-2016 NCSOFT Corporation. All rights reserved. Blade &amp; Soul, PLAYNC, NCSOFT, the Interlocking NC Logo, and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation. All other trademarks or registered trademarks are property of their respective owners.</p>
            </div>
            <!--  .copy -->
            <a href="http://www.esrb.org/index-js.jsp" target="_blank" class="gamerating-logo gamerating-en gamerating-ESRB">
            <%= image_tag 'BnS_ESRB_RatedM.jpg', class: "rating"%>
            </a>
         </div>
      </div>
      <!-- .row -->
   </div>
   <!--  .top -->
</div>
