<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
         <%= image_tag("logo.png", alt: 'brand') %>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav hidden-xs">
          <li class="active">
            <a href="/">
              <span class="icon icon-location-pin"></span>
              Home
            </a>
          </li>
          <% if false %>
          <li>
            <a href="/hacks">
              Hacks
            </a>
          </li>
          <% end %>
          <li>
            <a href="/faqs">
              <span class="icon icon-help"></span>
              FAQs
            </a>
          </li>
          <li>
            <a href="/contact">
              <span class="icon icon-mail"></span>
              Contact
            </a>
          </li>
          <% if current_user && current_user.approved? %>
          <li>
            <a href="/download">
              <span class="icon icon-bug"></span>
              Download
            </a>
          </li>
          <% end %>
        </ul>

        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li>
            <%= link_to "Logout", destroy_user_session_path %>
          </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
        </ul>
        <% end %>

        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="/">Home</a></li>
          <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% end %>
        </ul>
      </div>
  </div>
</nav>
