<div class="ncsoft gnb-header">
   <div class="container">
      <ul class="gnb-right">
         <% if user_signed_in? %>
         <li class="login"><%= link_to "Logout", destroy_user_session_path %></li>
         <% else %>
         <li class="login"><%= link_to "Log In", new_user_session_path %></li>
         <li class="signup"><%= link_to "Create Account", new_user_registration_path %></li>
         <% end %>
         <li class="support"><%= link_to "Support", support_path %></li>
      </ul>
      <ul class="gnb-left">
         <li class="logo sprite ncsoft"><a href="http://ncsoft.com"></a></li>
      </ul>
   </div>
</div>
