<div class="ncsoft gnb-header">
   <div class="container">
      <ul class="gnb-right">
         <% if user_signed_in? %>
         <li class="login"><%= link_to "Logout", destroy_user_session_path %></li>
         <% else %>
         <li class="login"><%= link_to "Log In", new_user_session_path %></li>
         <li class="signup"><%= link_to "Create Account", new_user_registration_path %></li>
         <% end %>
         <li class="support"><a href="https://support.bladeandsoul.com/hc/en-us">Support</a></li>
      </ul>
      <ul class="gnb-left">
         <li class="logo sprite ncsoft"><a href="http://ncsoft.com"></a></li>
         <li class="games">
            Games<span class="sprite caret">&nbsp;</span>
            <div class="gnb-sm">
               <ul>
                  <li class="game aion">
                     <a href="http://na.aiononline.com"><span class="sprite aion">&nbsp;</span></a>
                     <div class="gnb-ln">
                        <ul>
                           <li><a href="http://na.aiononline.com">Game Site</a></li>
                           <li><a href="http://na.aiononline.com/en/store/">Store</a></li>
                           <li><a href="http://aion.patcher.ncsoft.com/AION/aioninstaller/AionInstaller.exe">Download</a></li>
                        </ul>
                     </div>
                  </li>
                  <li class="game bladeandsoul">
                     <a href="http://bladeandsoul.com/en/"><span class="sprite bladeandsoul">&nbsp;</span></a>
                     <div class="gnb-ln">
                        <ul>
                           <li><a href="http://www.bladeandsoul.com/en/">Game Site</a></li>
                           <li><a href="https://shop.bladeandsoul.com/signature/list?lang=en-US">Store</a></li>
                           <li><a href="http://bladeandsoul.com/en/download">Download</a></li>
                        </ul>
                     </div>
                  </li>
                  <li class="game lineage2">
                     <a href="http://www.lineage2.com"><span class="sprite lineage2">&nbsp;</span></a>
                     <div class="gnb-ln">
                        <ul>
                           <li><a href="http://www.lineage2.com">Game Site</a></li>
                           <li><a href="http://www.lineage2.com/en/marketplace/">Store</a></li>
                           <li><a href="http://lineage2.patcher.ncsoft.com/LINEAGE2/Lineage2Installer.exe">Download</a></li>
                        </ul>
                     </div>
                  </li>
                  <li class="game wildstar">
                     <a href="http://www.wildstar-online.com"><span class="sprite wildstar">&nbsp;</span></a>
                     <div class="gnb-ln">
                        <ul>
                           <li><a href="http://www.wildstar-online.com">Game Site</a></li>
                           <li><a href="https://shop.wildstar-online.com/">Store</a></li>
                           <li><a href="http://wildstar.patcher.ncsoft.com/Wildstar.exe">Download</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>
         </li>
      </ul>
   </div>
</div>
